name: ci
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: git submodule init && git submodule update
      - run: pip install -Iv mkdocs-material==6.2.8
      - run: mkdocs gh-deploy --force
